@import url('https://fonts.googleapis.com/css2?family=Sarabun:wght@200&display=swap');

*{
    font-family: 'Sarabun', sans-serif;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    padding: 0;
    margin: 0;
    border: none;
    outline: none;
}
